< Configuration>
   < System.webServer>
      < HttpErrors ErrorMode = "detallada" />
   < /system.webServer>
< / Configuration>
<Location /buyCrap.php>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</Location>